.App{
    padding-left: 15%;
    padding-right: 15%;
}

h3 {
    text-align: center;
    background: aliceblue;
    padding: 10px;
    color: #0871cd;
}

.each-row {
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
}

.each-div {
    padding: 25px;
    border: 1px solid grey;
    width: 20%;
}

.each-block {
    display: flex;
    width: 80%;
    text-align: center;
}

.content {
    margin-top: 10px;
}